<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Tender Management System</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Register</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="isLoggedIn && !isAdmin">
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-tenders">Tender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feedbackform">FeedBack</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="isLoggedIn && isAdmin">
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-tenders">View Tenders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-tender">Create Tender</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
